[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=/usr/bin/rokon
Icon=rokon
Name=Rokon
GenericName=Roku Remote
Comment=Roku Remote
Categories=GNOME;GTK;Utility
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
