#!/usr/bin/make -f

# Use debhelper with compatibility level 13
%:
	dh $@

# Override the build step to use your Makefile
override_dh_auto_build:
	# Call your Makefile's build target
	dh_auto_build -- EXTRAGOFLAGS="-trimpath -buildmode=pie" PACKAGED=true PACKAGEFORMAT=deb

# override_dh_auto_install:
# 	# DH sets the DESTDIR to the rokon debian folder or something along those lines, yet, has the nerve to complain about the files not being installed. THE NERVE
# 	dh_auto_install -- PREFIX=/usr

# Disable tests
override_dh_auto_test:
	# Do nothing to skip tests
	true

# Optional: Override the clean step if your Makefile has a custom clean rule
override_dh_auto_clean:
	$(MAKE) clean

override_dh_strip:
	dh_strip --dbg-package=rokon-dbg
