[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=rokon
Icon=${SNAP}/meta/gui/io.github.brycensranch.Rokon.png
Name=Rokon
GenericName=Roku Remote
Comment=Roku Remote
Categories==GNOME;GTK;Utility
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
